<html>
<head>
<!--

    hexData console is an open source & business running project, All functions were based on Discuz!X2.5,
    UI Framework from @QingCloud( Beijing Yunify Technology LTD ). License Snapshot: http://t.cn/z85zacu

    Github:    https://github.com/hexdata/hexportal , Open License: Discuz License & GNU.
    36kr+:     http://www.36kr.net/hexieshuju
    17Startup: http://17startup.com/startup/view/21124

    This project work is being shown on Alibaba Cloud Start-up Competition, If you wanna small upon me, please vote +1 for No.11 on http://dasai.aliyun.com/signup/works2013/
    If you are an investors, and interested in this project, please contact hackes#outlook.com

    Thanks to everyone who helped hexData.

 -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=1300">
<meta name="keywords" content="和谐数据 hexdata 云计算 弹性计算 hexcloud">
<meta name="description" content="和谐数据，专为企业用户打造的云计算产品+服务。">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<title><!--{if !empty($navtitle)}-->$navtitle - <!--{/if}--><!--{if empty($nobbname)}--> $_G['setting']['bbname'] - <!--{/if}--> Powered by Discuz!</title>
<link href="console.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="jquery.min.js"></script>
<!--<script type="text/javascript" src="https://dn-hexssl.qbox.me/hexdata/default/oss/static_upload/js/jquery.min.js"></script>-->
<script type="text/javascript" src="js/jquery.alerts.js"></script>
<script>var cookiepre = "{$_G[config][cookie][cookiepre]}";</script>
</head>
<body class="modal-ready">
<div class="container">
	<div class="viewport" id="console">
		<div class="navigation" style="">
			<div class="wrapper">
				<div class="navigation-profile">
					<a class="avatar" href="plugin.php?id=host:host" style="background-image: url('nohead.jpg')" target="_self"></a>
					<p class="user-name">
						<a href="https://i.hexdata.cn/profile" target="_blank" id="uname">{$_G[username]}</a>
					</p>
					<p class="user-links">
						<a class="icon icon-home" title="和谐数据首页" href="https://www.hexdata.cn"></a><a class="icon icon-console" title="控制台首页" href="index.html" data-permalink=""></a><a class="icon icon-account" title="帐户充值" href="https://i.hexdata.cn/charge"></a><a class="icon icon-logout" title="退出登录" href="member.php?mod=logging&action=logout&formhash={FORMHASH}"></a>
					</p>
				</div>
				<div class="navigation-permission">
					<!--{if in_array($discuz_uid, $admin_array)&&$_GET['panel']=="admin"}-->
					<h6>ADMINISTRATION</h6>
					<ul>
						<li class="item manage-home"><a href="plugin.php?id=host:host&panel=admin&type=home" data-permalink=""><span class="icon icon-home"></span>管理主页<span class="title">Home</span></a></li>
						<li class="item manage-settings"><a href="plugin.php?id=host:host&panel=admin&type=setting" data-permalink=""><span class="icon icon-settings"></span>基础设置<span class="title">Basic Setting</span></a></li>						<li class="item manage-ecs"><a href="plugin.php?id=host:host&panel=admin&type=user" data-permalink=""><span class="icon icon-instances"></span>管理主机<span class="title">Manage ECS</span></a></li>
						<li class="item manage-tk"><a href="plugin.php?id=host:host&panel=admin&type=tickets" data-permalink=""><span class="icon icon-tickets"></span>管理工单<span class="title">Manage Tickets</span></a></li>
						
					</ul>
					<!--{else}-->
					<h6>RESOURCES</h6>
					<ul>
						<li class="item instances"><a href="plugin.php?id=host:host&page=myhost" data-permalink=""><span class="icon icon-instances"></span>主机<span class="title">Instances</span></a></li>
						<li class="item security_groups"><a href="plugin.php?id=host:host&page=firewall" data-permalink=""><span class="icon icon-security_groups"></span>防火墙<span class="title">Security Groups</span></a></li>
						<li class="item images"><a href="plugin.php?id=host:host&page=image" data-permalink=""><span class="icon icon-images"></span>镜像<span class="title">Images</span></a></li>
					</ul>
					<h6>OTHERS</h6>
					<ul class="level1">
						<li class="item activities"><a href="plugin.php?id=host:host&page=log" data-permalink=""><span class="icon icon-activities"></span>操作日志<span class="title">Activities</span></a></li>
						<li class="item consumptions"><a href="plugin.php?id=host:host&page=listorder" data-permalink=""><span class="icon icon-consumptions"></span>订单<span class="title">orders</span></a></li>
						<li class="item tickets"><a href="plugin.php?id=host:host&page=tickets" data-permalink=""><span class="icon icon-tickets"></span>工单<span class="title">Tickets</span></a></li>
						<!--{if in_array($discuz_uid, $admin_array)&&$_GET['panel']!="admin"}-->
						<li class="item admin"><a href="plugin.php?id=host:host&panel=admin&type=home" target="_blank" data-permalink=""><span class="icon icon-system"></span>管理中心<span class="title">Admin</span></a></li>
						<!--{/if}-->
					</ul>
					<!--{/if}-->
				</div>
			</div>
		</div>
