<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>和谐数据 —— 基于飞天云计算平台的云端控制台</title>
<link rel="stylesheet" href="//dn-hexpanel.qbox.me/hexData_compile_130303E5DE0B8EB60CCD6AD3074635075D9D06.css?130714_001" type="text/css">
<script src="//dn-hexpanel.qbox.me/hexData_compile_1303035FF7D456B7F370A80195BCD3B18F1256.js" type="text/javascript" type="text/javascript"></script>
</head>	
<body>
<script type="text/javascript">
	var strongpw = new Array();
	<!--{if $_G['setting']['strongpw']}-->
		<!--{loop $_G['setting']['strongpw'] $key $val}-->
		strongpw[$key] = $val;
		<!--{/loop}-->
	<!--{/if}-->
	var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
</script>

<script type="text/javascript" src="{$this->setting[jspath]}register.js?{VERHASH}"></script>

<div class="mainwrapper" style="background:#bbb;width:840px;">
	<div class="nfl" id="main_succeed" style="display: none">
		<div class="f_c altw">
			<div class="alert_right">
				<p id="succeedmessage"></p>
				<p id="succeedlocation" class="alert_btnleft"></p>
				<p class="alert_btnleft"><a id="succeedmessage_href">{lang message_forward}</a></p>
			</div>
		</div>
	</div>
	<div class="mn">

<div class="pagetitle">
	<!--{if $_GET[action] != 'activation'}--><h1>注册</h1> <span>您正在注册账号...</span><!--{else}--><h1>绑定</h1> <span>您已经登录QQ,正在绑定账号...</span><!--{/if}-->
</div>
	
<div class="maincontent" id="main_message" style="background:url(http://hexcdn.oss.aliyuncs.com/img/gray_jean.png);">

<div class="contentinner">
	<div class="widgetcontent">

	<div class="bm_h bbs" id="main_hnav">
		<span class="y">
			<!--{hook/register_side_top}-->
			<!--{if $_GET[action] == 'activation'}-->
				{lang login_inactive}
			<!--{else}-->
				<a href="plugin.php?id=host:host&page=login">{lang login_now}</a>
			<!--{/if}-->
		</span>
	</div>

	<p id="returnmessage4"></p>

	<!--{if $this->showregisterform}-->
	<form method="post" autocomplete="off" name="register" id="registerform" onsubmit="checksubmit();return false;" action="member.php?mod=$regname">
			<input type="hidden" name="regsubmit" value="yes" />
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<input type="hidden" name="referer" value="$dreferer" />
			<input type="hidden" name="activationauth" value="{if $_GET[action] == 'activation'}$activationauth{/if}" />
			<!--{if $_G['setting']['sendregisterurl']}-->
				<input type="hidden" name="hash" value="$_GET[hash]" />
			<!--{/if}-->
					<!--{hook/register_top}-->
					<!--{if $sendurl}-->
						<div class="par control-group">
							<label for="{$this->setting['reginput']['email']}">{lang email}:</label>
							<div class="controls">
							<input type="text" id="{$this->setting['reginput']['email']}" name="$this->setting['reginput']['email']" autocomplete="off" size="25" tabindex="1" class="px" required /><input type="hidden" name="handlekey" value="sendregister"/>
							<span class="help-inline">{lang register_email_tips}</span>
							</div>
                        </div>
					<!--{else}-->
						<!--{if $invite}-->
							<!--{if $invite['uid']}-->
						<div class="par control-group">
							<label >{lang register_from}:</label>
							<div class="controls">
								<a href="home.php?mod=space&uid=$invite[uid]" target="_blank">$invite[username]</a>
							<span class="help-inline"></span>
							</div>
                        </div>

							<!--{else}-->
							<div class="par control-group">
								<label >{lang invite_code}:</label>
								<div class="controls">
									<input type="hidden" id="invitecode" name="invitecode" value="$_GET[invitecode]" />
								<span class="help-inline"></span>
								</div>
							</div>
							<!--{eval $invitecode = 1;}-->
							<!--{/if}-->
						<!--{/if}-->

						<!--{if empty($invite) && $this->setting['regstatus'] == 2 && !$invitestatus}-->
							<div class="par control-group">
								<label >{lang invite_code}::</label>
								<div class="controls">
									<input type="text" id="invitecode" name="invitecode" autocomplete="off" size="25" onblur="checkinvite()" tabindex="1" class="px" required /><!--{if $this->setting['inviteconfig']['buyinvitecode'] && $this->setting['inviteconfig']['invitecodeprice'] && ($this->setting[ec_tenpay_bargainor] || $this->setting[ec_tenpay_opentrans_chnid] || $this->setting[ec_account])}--><p><a href="misc.php?mod=buyinvitecode" target="_blank" class="xi2">{lang register_buyinvitecode}</a></p><!--{/if}-->
								<span class="help-inline"><!--{if $this->setting['inviteconfig']['invitecodeprompt']}-->$this->setting[inviteconfig][invitecodeprompt]<!--{/if}--></span>
								</div>
							</div>
						<!--{eval $invitecode = 1;}-->
						<!--{/if}-->

						<!--{if $_GET[action] != 'activation'}-->
							<div class="par control-group">
								<label for="{$this->setting['reginput']['username']}">{lang username}:</label>
								<div class="controls">
									<input type="text" id="{$this->setting['reginput']['username']}" name="{$this->setting['reginput']['username']}" class="px" tabindex="1" autocomplete="off" size="25" maxlength="15" required />
								<span class="help-inline">{lang register_username_tips}</span>
								</div>
							</div>
							<div class="par control-group">
								<label for="{$this->setting['reginput']['password']}">{lang password}:</label>
								<div class="controls">
									<input type="password" id="{$this->setting['reginput']['password']}" name="{$this->setting['reginput']['password']}" size="25" tabindex="1" class="px" required />
								<span class="help-inline">{lang register_password_tips}<!--{if $_G['setting']['pwlength']}-->, {lang register_password_length_tips1} $_G['setting']['pwlength'] {lang register_password_length_tips2}<!--{/if}--></span>
								</div>
							</div>
							<div class="par control-group">
								<label for="{$this->setting['reginput']['password2']}">{lang password_confirm}:</label>
								<div class="controls">
									<input type="password" id="{$this->setting['reginput']['password2']}" name="{$this->setting['reginput']['password2']}" size="25" tabindex="1" value="" class="px" required />
								<span class="help-inline">{lang register_repassword_tips}</span>
								</div>
							</div>
							<div class="par control-group">
								<label for="{$this->setting['reginput']['email']}">{lang email}:</label>
								<div class="controls">
									<input type="text" id="{$this->setting['reginput']['email']}" name="{$this->setting['reginput']['email']}" autocomplete="off" size="25" tabindex="1" class="px" value="$hash[0]" required />
								<span class="help-inline">{lang register_email_tips}</span>
								</div>
							</div>

						<!--{/if}-->

						<!--{if $_GET[action] == 'activation'}-->
							<div class="par control-group">
								<label >{lang username}:</label>
								<div class="controls">
									<strong>$username</strong>
								<span class="help-inline"></span>
								</div>
							</div>
						<!--{/if}-->

						<!--{if $this->setting['regverify'] == 2}-->
							<div class="par control-group">
								<label >{lang register_message}:</label>
								<div class="controls">
									<input id="regmessage" name="regmessage" class="px" autocomplete="off" size="25" tabindex="1" required />
								<span class="help-inline">{lang register_message1}</span>
								</div>
							</div>
						<!--{/if}-->

						<!--{if empty($invite) && $this->setting['regstatus'] == 3}-->
							<div class="par control-group">
								<label for="invitecode">{lang invite_code}:</label>
								<div class="controls">
									<input type="text" name="invitecode" autocomplete="off" size="25" id="invitecode"{if $this->setting['regstatus'] == 2} onblur="checkinvite()"{/if} tabindex="1" class="px" />
								<span class="help-inline"></span>
								</div>
							</div>
						<!--{eval $invitecode = 1;}-->
						<!--{/if}-->

						<!--{loop $_G['cache']['fields_register'] $field}-->
							<!--{if $htmls[$field['fieldid']]}-->
							<div class="par control-group">
								<label for="$field['fieldid']">$field[title]:</label>
								<div class="controls">
									$htmls[$field['fieldid']]
								<span class="help-inline"><!--{if $field['description']}--><!--{echo dhtmlspecialchars($field[description])}--><!--{/if}--></span>
								</div>
							</div>
							
							<!--{/if}-->
						<!--{/loop}-->
					<!--{/if}-->
					<!--{hook/register_input}-->

					<!--{if $secqaacheck || $seccodecheck}-->
						<!--{block sectpl}--><div class="rfm"><table><tr><th><span class="rq">*</span><sec>: </th><td><sec><br /><sec></td></tr></table></div><!--{/block}-->
						<!--{subtemplate common/seccheck}-->
					<!--{/if}-->




		<div id="layer_reginfo_b">
			<div class="rfm mbw bw0">
				<table width="100%">
					<tr>
						<th>&nbsp;</th>
						<td>
							<span id="reginfo_a_btn">
								<!--{if $_GET[action] != 'activation'}--><em>&nbsp;</em><!--{/if}-->
									<button class="btn btn-primary" id="registerformsubmit" type="submit" name="regsubmit" value="true" tabindex="1"><strong><!--{if $_GET[action] == 'activation'}-->{lang activation}<!--{else}-->{lang submit}<!--{/if}--></strong></button>
								<!--{if $bbrules}-->
									<input type="hidden" class="pc" name="agreebbrule" value="$bbrulehash" id="agreebbrule" checked="checked" style="display:none;" />
								<!--{/if}-->
							</span>
						</td>
						<td><!--{if $this->setting['sitemessage'][register]}--><a href="javascript:;" id="custominfo_register" class="y"><img src="{IMGDIR}/info_small.gif" alt="{lang faq}" /></a><!--{/if}--></td>
					</tr>
				</table>
			</div>
			<!--{if !empty($_G['setting']['pluginhooks']['register_logging_method'])}-->
				<div class="rfm bw0 {if empty($_GET['infloat'])} mbw{/if}">
					<hr class="l" />
					<table>
						<tr>
							<th>{lang login_method}:</th>
							<td><!--{hook/register_logging_method}--></td>
						</tr>
					</table>
				</div>
			<!--{/if}-->
		</div>
	</form>
	<!--{/if}-->
	<!--{hook/register_bottom}-->
</div>
</div>
</div>
<div id="layer_regmessage"class="f_c blr nfl" style="display: none">
	<div class="c"><div class="alert_right">
		<div id="messageleft1"></div>
		<p class="alert_btnleft" id="messageright1"></p>
	</div>
</div>

<div id="layer_bbrule" style="display: none">
<div class="c" style="width:700px;height:350px;overflow:auto">$bbrulestxt</div>
<p class="fsb pns cl hm">
	<button class="pn pnc" onclick="$('agreebbrule').checked = true;hideMenu('fwin_dialog', 'dialog');{if $this->setting['sitemessage'][register] && ($bbrules && $bbrulesforce)}showRegprompt();{/if}"><span>{lang agree}</span></button>
	<button class="pn" onclick="location.href='$_G[siteurl]'"><span>{lang disagree}</span></button>
</p>
</div>

<script type="text/javascript">
<!--{if $bbrules && $bbrulesforce}-->
	showBBRule();
<!--{/if}-->
<!--{if $this->showregisterform}-->
	<!--{if $sendurl}-->
	addMailEvent($('{$this->setting['reginput']['email']}'));
	<!--{else}-->
	addFormEvent('registerform', <!--{if $_GET[action] != 'activation' && !($bbrules && $bbrulesforce) && !empty($invitecode)}-->1<!--{else}-->0<!--{/if}-->);
	<!--{/if}-->
	<!--{if $this->setting['sitemessage'][register]}-->
		function showRegprompt() {
			showPrompt('custominfo_register', 'mouseover', '<!--{echo trim($this->setting['sitemessage'][register][array_rand($this->setting['sitemessage'][register])])}-->', $this->setting['sitemessage'][time]);
		}
		<!--{if !($bbrules && $bbrulesforce)}-->
			showRegprompt();
		<!--{/if}-->
	<!--{/if}-->
	function showBBRule() {
		showDialog($('layer_bbrule').innerHTML, 'info', '<!--{echo addslashes($this->setting['bbname']);}--> {lang rulemessage}');
		$('fwin_dialog_close').style.display = 'none';
	}
<!--{/if}-->
</script>

	</div></div>
</div>

<!--{eval updatesession();}-->
</body>
</html>